:root {
    --color-main: #439141;
    --color-disabled: #979797;
    --bg-info: #fff;
}

.info-container {
    min-height: 412px;
    background: var(--bg-info);
}

.userProfileTabs .tab-info .nav-item {
    padding: 0;
}

.nav.tab-info {
    border-bottom: 1px solid var(--color-disabled);
}

.tab-info .nav-link {
    border-radius: 0;
    color: var(--color-disabled);
    font-size: 18px;
}

/* .custom-personal-active {
    color: var(--color-main);
    background: transparent;
    border-bottom: 2px solid;
} */

/* link.active-custom-info {
    font-weight: bold;
    border-color: #439141 #439141 #fff;
} */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--color-main);
}
