:root {
    --content-color: #434343;
    --text-color: #FFFFFF;
    --lesson-color: #94C9F5;
    --lesson-active: #F8EBEB;
}


/*
.userManager h1 {
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 10px;
} */
.learn .main-video .video iframe {
    width: 1120px;
    height: 550px;
}

.userManager .video-list {
    flex: 1;
}

.video-list .list-lesson li {
    cursor: pointer;
}

.userManager .video-list .tableOfContent {
    text-align: center;
    padding: 10px 0;
    background: var(--content-color);
    color: var(--text-color);
}

.userManager .video-list .list-lesson li span {
    display: inline-block;
    font-size: 16px;
    padding: 5px 0;
}

.video-list .vid.active {
    border-left: 4px solid #FF0000;
    background: var(--lesson-active);
}


.alert-no-video {
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}