:root {
    --text-color: #FFFFFF;
    --bg-click: #50AD4E;
}

.list-course {
    margin-top: 30px;
}

.list-cate {}

.list-cate li {
    display: inline-block;
}

.list-cate a {
    padding: 8px 15px;
    color: #000;
    background-color: var(--text-color);
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
}

.list-cate a.click {
    background-color: var(--bg-click);
    color: var(--text-color);
}
